@media only screen and (max-width: 740px){
    #header{
        overflow: hidden;
    }
    #nav{
        display: block;
    }
    #nav > li:first-child{
        display: inline-block;
    }
    #nav > li{
        display: block;
    } 
    #nav .subnav{
        position: initial;
        background-color: #333;
    }
    #nav .subnav a{
        color: #fff;
        padding: 5px 38px;
    }
    #header .search-button{
        display: none;
    }
    #header .menu-btn__responsive{
        display: block;
    }
}