@media only screen and (max-width: 740px){
    .s-mt-8{
        margin-top: 8px !important;
    }
    .s-full-width,
    .s-col-full{
        width: 100% !important;
    }
    #header{
        overflow: hidden;
    }
    #nav{
        display: block;
    }
    #nav > li:first-child{
        display: inline-block;
    }
    #nav > li{
        display: block;
    } 
    #nav .subnav{
        position: initial;
        background-color: #333;
    }
    #nav .subnav a{
        color: #fff;
        padding: 5px 38px;
    }
    #header .search-button{
        display: none;
    }
    #header .menu-btn__responsive{
        display: block;
    }
    #content .member-item{
        margin-top: 30px;
        width: 100%;
    }
    .contact-info{
        margin-top: 16px;
    }
    .contact-form{
        padding-left: 0;
        padding-right: 0;
    }
}